
body, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;


}

.header {
    margin-top: 60px;
}

/* NAVBAR */

.navbar {
    background-color: #35444f;
    margin-top: 45px;
    margin-bottom: 50px;
}

.footer-navbar {
    background-color: #b4b7ba;

}

.navbar-nav, .footer-navbar {
    text-align: center;
    margin: 0;
}

.navbar-nav-item, .footer-navbar-item {
    display: inline-block;

}

.navbar-nav-link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: .5s;
    padding: 25px;
    display: inline-block;
}

.footer-navbar {
    text-align: left;
}

.footer-navbar-item {
    padding: 25px 10px;
}

.footer-navbar-link {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: .5s;
    position: relative;
}


.navbar-nav-link:hover {
    background-color: #222f3a;
}

/* SIDEBAR */

.sidebar {
    width: 345px;
    display: inline-block;
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    border: 1px solid;
}

.sidebar-nav-item {
    list-style-type: none;

}

.sidebar-nav-link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: lightslategray;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    padding: 27px;
    padding-left: 40px;

}

.sidebar-nav-link:hover {
    background-color: gray;
    color: white;
    padding-left: 70px;


}


.img-container {
    padding: 75px;
    border: 1px solid;
    text-align: center;
    margin-bottom: 50px;
}

.main-content {
    width: 885px;
    /* float: right; */
    display: inline-block;
    margin-left: 45px;
    vertical-align: top;
}

.main-text-paragraph {
    margin-top: 30px;
    padding: 0 51px;
}

.footer {
    margin-top: 45px;
    margin-bottom: 30px;
}

.footer-navbar-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;

}

/*.footer-navbar-link::after {*/
/*    position: absolute;*/
/*    background-color: #3181a6;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    width: 80%;*/
/*    height: 1px;*/
/*    opacity: 0;*/
/*    left: 15px;*/
/*    bottom: 22px;*/
/*    transition: opacity .5s;*/
/*}*/

.footer-navbar-link:hover::after {
    opacity: 1;
}

.copyright {
    /*float: right;*/
    display: inline-block;
    margin-left: 190px;
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
