#go-top {
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor:pointer;
    display:none;
    width: 50px;
    height: 50px;
    background: yellow;
    
}

#go-top:hover {
    background: #333;
}