html,
body {
    font-family: Verdana, serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.background-f2f2f2 {
    background-color: #f2f2f2;
}

.client-dryme {
    grid-area: 3/2/3/3;
}


.client-house-home {
    grid-area: 3/3/3/4;
}

.client-journy {
    grid-area: 3/4/3/5;
}

.client-national-post {
    grid-area: 3/1/3/2;
}

.container-hot-news {
    align-self: center;
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 260px ;
    justify-self: center;
    width: 1140px;
}

.container-hot-news-item1{
    display: grid;
    grid-area: 1/1/1/4;
    grid-template-columns: 1fr 1fr;
}

.container-hot-news-item2 {
    grid-area: 1/4/1/5;
}

.container-hot-news-item3 {
    grid-area: 2/1/2/3;
}

.container-hot-news-item4 {
    grid-area: 2/3/2/5;
}

.container-hot-news-item5 {
    grid-area: 3/1/3/3;
}

.container-hot-news-item6 {
    grid-area: 3/3/3/5;
}

.container-hot-news-item7 {
    grid-area: 4/1/4/2;
}

.container-hot-news-item8 {
    display: grid;
    grid-area: 4/2/4/5;
    grid-template-columns: 1fr 1fr;
}

.container-hot-news-item-content {
    background-color: #F9F7F7;
    font-size: 14px;
    padding: 10px 20px;
    text-align: right;
}

.container-hot-news-item1 > div.container-hot-news-item-content,
.container-hot-news-item8 > div.container-hot-news-item-content {
    padding-top: 20px;
}

.container-hot-news-item2 > div > h3,
.container-hot-news-item7 > div > h3 {
    margin: 4px;
}

.container-top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-container-most-popular-clients {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2vw;
    justify-self: center;
    width: 880px;
}


.grid-container-most-popular-clients-background {
    height: 588px;
    background-attachment: fixed;
    background-image: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-position-y: 30%;
    background-repeat: no-repeat;
    display: grid;
    width: 100%;
}

.grid-container-most-popular-clients > div {
    align-self: center;
}

.grid-wrapper {
    display: grid;
}

.h2-most-popular-clients {
    color: #fff;
    grid-area: 1/1/2/5;
    font-size: 25px;
    justify-self: center;
}

.line {
    justify-self: center;
    grid-area: 2/1/2/5;
}

.line-style {
    border-bottom: 3px solid #169CB4;
    width: 60px;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1D2124;
    height: 80px;
}

.footer-logo {
    align-self: center;
    justify-self: center;
}

.footer-rights-reserved {
    align-self: center;
    color: #fff;
    font-size: 13px;
    justify-self: center;
}

.header-architect-txt {
    font-size: 22px;
}

.header-background {
    align-items: center;
    display: flex;
    background-attachment: fixed;
    background-image: url(../img/header.jpeg);
    background-position: 100% 65%;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.header-background-btn {
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 21px 0;
    width: 170px;
}

.header-background-btn:nth-child(1) {
    background-color: #89ca62;
    margin-right: 20px;
}

.header-background-btn:nth-child(2) {
    background-color: #14b9d5;
}

.header-background-btn-container {
    display: flex;
    justify-content: center;
}

.header-background-h1 {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 41px;
}

.header-btn {
    padding: 0 10px;
}

.header-company-logo {
    align-items: center;
    background-color: #1a1d20;
    display: flex;
    flex: 0.3;
    height: 100%;
    justify-content: center;
}

.header-container-left {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 2;
    height: 100%;
}

.header-container-center {
    display: flex;
    flex: 8;
    font-size: 15px;
    justify-content: center;
}

.header-container-right {
    align-items: center;
    background-color: #171a1c;
    display: flex;
    flex: 0.4;
    height: 100%;
    justify-content: center;
}

.header-link {
    color: #fff;
}

.header-nav {
    align-items: center;
    background-color: #1d2124;
    display: flex;
    height: 70px;
}

.main-column {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.main-column:nth-child(2) {
    margin: 0 30px;
}

.main-column-item-description {
    align-items: center;
    background-color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 63px;
    justify-content: center;
    margin-bottom: 32px;
}

.main-container {
    background-color: #f2f2f2;
    display: flex;
    height: 900px;
    justify-content: center;
}

.main-contents {
    align-items: center;
    display: flex;
    height: 125px;
    justify-content: center;
}

.main-contents-style {
    color: #18b4cf;
    font-size: 25px;
}

.link-style-black {
    color: #000;
}

.link-style-white {
    color: #fff;
}

.padding-top-20px {
    padding-top: 20px;
}
