.form-style {
    display: flex;
    width: 350px;
    text-align: center;
    flex-direction: column;
}

#buttonForRemoveSpan {
    width: 30%;
    align-self: center;
    background-color: #f00;
    border-radius: 5px;
}

#getUserNumberFromTopBtn {
    width: 50%;
    align-self: center;
    background-color: #0ff;
    border-radius: 5px;
}