#container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width:400px;
    height:400px;}

.default-cell {
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid black;
    width:40px;
    height:40px;}

.in-game {
    background-color: blue;}

.player-cell {
    background-color: green;}

.computer-cell {
    background-color: red;}