.basket {
  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    margin: 0 auto 20px;
  }

  &__submit-button {
    background-color: #8c5289;
}

  .error {
    color: red;
  }
}