/* PREFERENCES */

body {
    background-image: url(../img/bgc-img.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0,0,0,0.4);
    background-size: 100%;
}

.container{
    width: 1065px;
    height: 768px;
    margin: 0 auto;
    position: relative;
}

.img-fluid {
    max-width: 100%;
}


/* HEADER */

.header  {
    padding: 28px 0;
    vertical-align: top;
    margin-bottom: 50px;
}

.logo  {
    position: absolute;
    width: 170px;
    height: 60px;
}

.logo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #f26522;
}


.logo-image  {
    float: left;
}
.logo-image:hover{
    color: #f26522;
}

.logo-titles  {
    float: left;
    margin-left: 12px;
}

.logo-link {
    color: #ffffff;
}
.logo-link:hover    {
    color: #f26522;
}

.logo-title  {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;;
}



.logo-subtitle {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}
.logo-subtitle:hover {
    color: #f26522;
}

.header-contact-info {
    float: right;
    text-align: right;
    color: #ffffff;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}


/* WHAT WE OFFER */

.sellers-offers  {
    padding: 30px 0;
}


.offer  {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;;
    color: #57a4a4;
    display: inline-block;
}

.offer-post-img {
    max-width: 308px;
    box-shadow: 8px 25px 27px 3px rgba(0,0,0,1);
}

.seller-offer{
    display: inline-block;
    position: relative;
    margin-right: 65px;
    margin-bottom: 40px;
    border-top: 2px solid #fff;

}

.seller-offer:nth-child(3n){
    margin-right: 0;
}

.offer-title  {
    text-align: center;
    padding: 22px 0 5px;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;;
    color: #ffffff;
}


.seller-offer-blocks  {
    background-color: #f26522;
    width: 308px;
    height: 63px;
    position:absolute;
    left:0;
    top:0;
    display:none;
    margin-top: 139px;
    transition: 3s;
}

.seller-offer-block  {
    padding: 5px 20px;
    color: #ffffff;
    padding-top: 30px;
    font-family: Verdana, Geneva, sans-serif;

}

.seller-offer-link  {
    display: inline-block;
    float: right;
    font-size: 14px;
}
.offer-price    {
    display: inline-block;
    font-size: 20px;
    position: relative;
}

.pre-currency{
    position: absolute;
    font-size: 10px;
    top: -12px;
}

.seller-offer:hover .seller-offer-blocks {
    display: block;
}
.seller-offer:hover .offer-title {
    color: #f26522;
}

/* FOOTER */
.footer {
    margin-top: 15px;
}

.footer-copyright  {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
}