.hidden {
    visibility: hidden;
    position: absolute;}

.card {
    padding: 5px;
    margin: 10px;
    border: 1px dashed darkolivegreen;
    min-height: 150px;
    max-width: 80%;}

.destroy-button {
    background-color: red;}

.edit-button {
    background-color: yellow;}

.save-button {
    background-color: green;}

.cancel-button{
    background-color: blue;}

button {
    background-color: #3181a6;
    margin: 10px;}

input {
    min-width: 50%;}