ul {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    max-width: 40%;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    border: 1px dashed darkolivegreen}

.remove {
    position: relative;
    left: 40%;
    content: 'Loading...';
    color: red;
    list-style: none;
}

li {
    margin-top: 5px;
    font-size: 20px;
    font-weight: unset;}