@import "vars";
@import "mixins";


body,
html {
  @include reset-margin-padding;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  margin: 0;
  padding: 0;}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  width: $width-whole;
  padding: 15px;
  min-width: 320px;
  max-width: 1200px;}

@media screen and (min-width: 768px) {
  .container {
    padding: 15px 50px;
  }
}