@import "vars";
@import "mixins";

.footer-additional-description {
  display: none;}

.footer-content {
  width: 80%;
}

.footer-container {
  @include flex-center;
  background-color: #000;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  color: #fff;}

.footer-social-icons-container {
  @include flex-center;
    & img {
      padding-right: 5px;
    }
}

.footer-heading-h3 {
  margin-top: 0;
  font-size: 14px;}

.footer-description {
  color: $color-secondary-footer;
  font-size: 12px;}

.footer-contacts {
  width: 80%;
  margin: 0 auto;
  color: $color-secondary-footer;
  font-size: 14px;}

.footer-social-icons-container {
  margin: 15px 0;}

.footer-contacts {
  & a {
    color: $color-secondary-footer;
    text-decoration: none;}
}

@media screen and (min-width: 768px) {

  .footer-description {
    margin: 0 auto;
    width: 70%;
    line-height: 28px;
    font-size: 14px;}

  .footer-additional-description {
    display: unset;}

  .footer-social-icons-container {
    margin: 25px 0;}
}

@media screen and (min-width: 1200px) {

  .footer-description {
    width: 55%;}

  .footer-container {
    padding: 50px 0;}

}