@import "vars";
@import "mixins";

.header-container {
  @include flex-center;
  position: relative;
  justify-content: flex-end;
  min-height: 80px;}

.menu-btn {
  @include flex-center;
  justify-self: right;
  background-color: #000;
  position: relative;
  width: 44px;
  height: 37px;
  cursor: pointer;
  color: $color_background-white;

  & > span,
  & > span::before,
  & > span::after {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40%;
    height: 2px;
    top: 12px;
    background-color: $color_background-white;
  }

  & > span::before {
    content: $content-clean;
    top: 4px;
    width: $width-whole;
  }

  & > span::after {
    display: unset;
    content: $content-clean;
    top: 8px;
    width: $width-whole;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;}

}