@import "vars";
@import "mixins";

.content-not-for-mobile,
  .post-content-not-for-mobile {
  display: none;}

.main-background-img {
  width: 100%;}

.main-container,
.post-container {
  display: flex;
  flex-direction: column;}

.main-heading-h4 {
  @include size-14px;
  margin-top: 35px;}

.post-heading {
  margin-top: 10px;
  margin-bottom: 5px;}

.post-description {
  color: #7C7C7C;
  font-size: 11px;
  margin-bottom: 25px;}

@media screen and (min-width: 500px) {

  .post-container {
    margin-bottom: 20px;
    width: 90%;
    flex-direction: row;}

  .post-description {
    margin-block-start: 0;
    padding: 8px 0 10px;
    margin-bottom: 0;}

  .post-description-container {
    display: unset;
    flex-direction: column;
    padding-left: 20px;}

  .post-content-not-for-mobile {
    line-height: 26px;
    color: #5C5C5C;
    font-size: 14px;
    display: unset;}

  .content-not-for-mobile {
    display: contents;}
}

@media screen and (min-width: 1200px) {

  .main-container {
    flex-wrap: wrap;
    flex-direction: row;}

  .main-heading-h4 {
    margin-top: 50px;
    width: 100%;}

  .post-container {
    width: 50%;}
}

