@import "vars";
@import "mixins";

.hidden {
  visibility: hidden;}

.hamburgerX {
  font-size: 12px;}

.mobile-menu {
  position: absolute;
  top: 60px;
  background-color: $color_background-white;

  & ul {
    @include reset-margin-padding;
    width: 160px;
    list-style: none;

    & li {
      padding: 5px 15px;
      font-size: 11px;
      border-bottom: 2px solid #F5F5F5;

      &:hover {
        color: #57A4A4;}
    }
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: center;
  }

  .mobile-menu {
    @include flex-center;
    position: unset;
    visibility: visible;
    top: unset;
    right: unset;

    & ul {
      @include flex-center;
      width: unset;

      & li {
        border-bottom: unset;}
    }
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
     & ul {
      & li {
        padding: 5px 25px;}
    }
  }
}