@import "resent_posts";

a{
  cursor:pointer;
  text-decoration: none;
}

.footer{
  background-color: $btn-footer-bg-color;
  padding-top: 8px;
  padding-bottom: 60px;
  margin-top: 20px;


    &__title{
      color: $footer-title-color;
      text-align: center;

    }

    &__text{
      line-height: 28px;
      color: $footer-text-color;
      text-align: center;

         &-contacts{
            @include margin-centered;
             width: 240px;

           @media screen and (min-width: 500px) {
             width: $container-width;


           }




      }
    }

    a{
      color: $footer-text-color;
    }

}

.icon{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper{
   @include icon-wrapper-width;
   @include margin-centered;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  &__rss{
    @include icon-border($icon-rss-color);
  }

  &__fb{
    @include icon-border($icon-fb-color);
  }

  &__tw{
    @include icon-border($icon-twit-color);
  }

  &__drib{
    @include icon-border($icon-drib-color);
  }

  &__pin{
    @include icon-border($icon-pin-color);
  }


}


