
@import "vars";
@import "mixin";

.section-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  margin-top: 38px;

}

.resent_posts {
      padding-bottom: 40px;

    &-wrapper {
      width: $container-width;
      display: flex;
      flex-wrap: wrap;
      max-height: $max-post-wrapper-height;
      overflow: hidden;

      @media screen and (min-width: 1200px) {
        $max-post-wrapper-height: 150vh;
        max-height: $max-post-wrapper-height;

      }



  }

}


.post {
  @include post-width($container-width, $col);
  @include flex-column;
  box-sizing: border-box;
  margin-top: 16px;




  @media screen and (min-width: 500px) {
    flex-direction: row;


  }

  @media screen and (min-width: 1200px) {
    $col: 2;
    @include post-width($container-width, $col);
    justify-content: space-between;

    &:nth-child(2n){
      padding-left: 2vw;
    }

  }


     & + & {
       margin-top: 23px;
     }


     &__title {
       font-size: 14px;
       margin-bottom: 0;
     }

     &__subtitle {
       font-size: 11px;
       color: $comment-sub-color;
       margin-bottom: 0;
     }

     &__text {
       display: none;
       font-size: 14px;
       line-height: 25px;
       max-width: $max-post-text-width;


       @media screen and (min-width: 500px) {
        display: block;
    }



         &-wrapper{
             @include flex-column;
             margin-left: 3vw;
       }


  }


}