body,
html {
    margin: 0;
    padding: 0;
    text-align: center;}

.container {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.column {
    padding-top: 30px;
    position: relative;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 300px;
    width: 190px;
    border: 1px solid green;}

.card {
    margin-bottom: 5px;
    min-height: 50px;
    background-color:violet;
}

.cards-container {
    padding: 10px;
    height: calc(100% - 50px);
    width: 90%;}

.add-card-btn {
    margin: 0 auto;}

.sort-cards-btn {
    position: absolute;
    top: 0;
    left: 30%;}