
.image  {
    margin-top: 32px;
    width: 100%;
    display: block;
}

.menu-link  {
    margin-top: 32px;
    margin-right: 85px;
    text-decoration: none;
    color: #16a085;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

}

.content  {
    background-color: beige;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.content-header {
    font-family: 'Roboto', sans-serif;
    padding: 56px 0 10px;
}

.content-text   {
    width: 1060px;
    margin: 0 auto;
    text-align: center;

}
.navbar {
    justify-content: center;
    color: aquamarine;
    display: flex;
    font-size: 18px;

}


.copyright  {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 108px;
}

.btn  {
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 134px;
    padding: 15px 25px;
    margin-top: 40px;
    background: #16a085;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


