a {
    text-decoration: none;
}

p {
    margin-top: 0;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    cursor: default;
}

.product {
    &__card {
    max-width: 300px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    }

    &__img {
    width: 80%;
    min-height: 58%;
    }

    &__title {
    color: #4E99ED;
    min-height: 40px;
    width: 90%;
    margin: 0 auto;
    }

    &__star {
    position: absolute;
    font-size: 35px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 0;
    cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }

        &-favorite {
        color: yellow;
        cursor: pointer;
        }
    }
}

.fa-shopping-basket:before {
    position: absolute;
    top: 17%;
    right: 15%;
    font-size: 26px;
    color:rgb(218, 216, 127);
}