/* Preferences */
body {
    margin: 0 auto;
    width: 100%;
}
.blue {
    background-color: #14b9d5;
}

.green {
    background-color: #89ca62;
}

.text-width {
    width: 370px;
    display: inline-block;
    vertical-align: top;
}
.text-center{
    text-align: center;
}



/* HEADER */

.header-items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1d2124;
}

.navbar-item {
    display: inline-block;
    text-transform: uppercase;
}

.navbar-item-link {
    color: #ffffff;
    text-decoration: none;
    padding-left: 30px;
}

.header-logo-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
}

.header-logo-image{
    padding: 0 10px;
}


.fas {
    color: #ffffff;
    font-size: 22px;
    margin-right: 20px;
}

.header-image-btn  {
    background-image: url("../images/header-bg.jpeg");
    background-attachment: fixed;
    height: 404px;
}

.header-image-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:  404px;
}

.header-title {
    color: #ffffff;
    font-size: 27px;
    text-align: center;
}

.header-button {
    border: none;
    display: inline-block;
    width: 170px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
    border-radius: 7px;

}
.header-find-link {
    background-color: #171a1c;
}

/* SECTION POPULAR POSTS*/

.most-popular-posts {
    background-color: #f2f2f2;
    height: 1030px;
}

.section-name {
    text-align: center;
    padding-top: 30px;
}

.section-title {
    color: #18b4cf;
    text-align: center;
    text-transform: capitalize;
}

.popular-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 840px;
    width: 1160px;
    margin: 0 auto;


}

.popular-post  {
    width: 370px;
    margin-left: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
}


/* POPULAR CLIENTS */

.our-most-popular-clients {
    background-image: url("../images/parallax-bg.jpeg");
    height: 550px;
    background-attachment: fixed;
}

.section-2-title {
    color: #ffffff;
    padding: 100px 0;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    grid-area: header;
}

.grid-container {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    grid-template-areas: 'header header header header'
                         'item1 item2 item3 item4';

}

.client1{
    grid-area: item1;

}

.client2 {
    grid-area: item2;
}

.client3 {
    grid-area: item3;
}

.client4 {
    grid-area: item4;
}

/* Top RATED*/

.top-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    overflow: hidden;
}

/*.posts {*/
/*    width: 90px;*/
/*}*/

/* HOT NEWS */

.hot-news{
    height: 1580px;
}

.hotnews-posts {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    width: 1160px;
    grid-template-areas: 'div1 div1 div1 div2'
                         'div3 div3 div4 div4'
                         'div5 div5 div6 div6'
                         'div7 div8 div8 div8';
}

.div1{ grid-area: div1;}
.div2{ grid-area: div2;}
.div3{ grid-area: div3;}
.div4{ grid-area: div4;}
.div5{ grid-area: div5;}
.div6{ grid-area: div6;}
.div7{ grid-area: div7;}
.div8{ grid-area: div8;}

.hotnews-post-text {
    text-align: right;
    padding: 0 20px;
    box-sizing: border-box;
    vertical-align: middle;
}

.hotnews-post-title {
    margin: 0;
    padding: 13px;
}

.hotnews-post-img {
    width: 100%;
}

.hotnews-post-img2 {
    height: 256px;
    vertical-align: middle;


}
.small-img {
    height: 210px;
}

.bg {
    box-sizing: border-box;
    background-color: #f9f7f7;
}

.footer-items {
    display: flex;
    background-color: #1d2124;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.footer-copyright {
    color: #ffffff;
    font-size: 13px;
}

.footer-logo-items {
    text-decoration: none;
}

.footer-img {
    vertical-align: top;
}