.modal{
  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #7d7b7b;
    left: 0;
    top: 0;
    opacity: .7;
    z-index: 1;
  }

  &__title {
    background-color: #D44637;
    margin: 0;
    padding: 25px;
    font-size: 24px;
  }

  &__content{
    line-height: 30px;
    text-align: center;
    padding: 20px;
  }

  &__window {
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 500px;
    min-height: 200px;
    box-sizing: border-box;
    z-index: 2;
  }

  &__close-btn {
    position: absolute;
    color: white;
    right: 0;
    top: 0;

    &:after {
      display: inline-block;
      content: "\00d7";
      font-size: 45px;
    }
  }
}
