/* PREFERENCES */

body {
    background-color: #000000;
    overflow: hidden;
    perspective: 200px;
}
.container{
    margin: 0 auto;
    width: 600px;
}


.animation-text {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 30px;
    color: #fcd000;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: star-wars-animation 30s ease-in infinite;
}

.animation-text, .animation-subtitle, .animation-title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}


@keyframes star-wars-animation {
    0%   { transform: rotateX(30deg) translateY(400px); }
    100% { transform: rotateX(30deg) translateY(-300px);
}