.container  {
    width: 1120px;
    margin: 0 auto;
    border: 15px solid #3a4965;
}

.table {
    width: 100%;
    border-collapse:collapse;
    border-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
    color: #484848;

}
table, td, th {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

}
td, th {
    padding: 20px 10px;
    width: 30px;

}

/* BUTTONS*/

.button  {
    border: 1px solid;
    text-decoration: none;
    padding: 18px 59px;
    color: #ffffff;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: #FFD33D;
    color: #ffffff;
}

.footer  {
    height: 120px;
}


/* HEADER */

.standart  {
    color: #ffffff;
    font-size: 24px;
}

.green {
    background-color: #89c331;

}

.ultimate {
    color: #ffffff;
    font-size: 30px;
}

/*COLORS*/

.red {
    background-color: #f04a56;
}

.premium  {
    color: #ffffff;
    font-size: 24px;
}
.blue  {
    background-color: #20807c;
}

.contact {
    background-color: #000000;
}

/***********/

.options-title {
    font-weight: bold;
}

.header-title-one {
    font-size: 18px;
}

.header-title-two {
    font-size: 30px;
}

th{
    background-color: #fff;
    vertical-align: middle;
}

tr:nth-of-type(even)  {
    background-color: #e3e3e3;
}

tr:nth-of-type(odd){
    background-color: #f2f2f2;
}

.data-contact{
    background-color: #dddddd;
}

/*PRICE COLOMNS*/

.price-subtitle {
    font-size: 18px;
    margin: -31px;
}

sup {
    font-size: 26px;
    vertical-align: super;
}

.price {
    font-size: 55px;
}

/* ICONS */

.fas  {
    padding-right: 5px;

}