.header__statistic {
  background-color: rgb(140, 82, 137);
  width: 20%;
  min-width: 200px;
  color: white;
  padding: 5px;
  margin-bottom: 45px;
}

.header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}