body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

.background-color-white {
    background-color: #fafafa;
}

.body-wrapper {
    text-align: center;
    width: 1192px;
    height: 736px;
    padding: 24px 30px 32px 22px;
    background-color: #3a4965;
    margin: 0 auto;
}

.column1-width {
    padding: 0 11px;
    box-sizing: border-box;
}

i {
    font-size: 24px;
    margin-right: 10px;
}

.row1-txt-pricing-plan {
    font-size: 30px;
    font-weight: 900;
}

.row1-txt-choose-your {
    font-size: 18px;
}

.row2-txt-per-month {
    font-size: 18px;
}

.row2-txt-price-per-month {
    color: #484848;
    font-size: 60px;
    position: relative;
    background-color: #fafafa;
    font-weight: 900;
}

.row9-button {
    border: none;
    padding: 15px 70px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: inset 0 -7px 3px rgba(100,100,100,.3);
}

.row9-button:hover {
    box-shadow: 0 0 10px black;
}

.row9-button-contact-us {
    background-color: #484848;
}

.standard-color {
    background-color: #89c331;
    color: #fff;
}

.ultimate-color {
    background-color: #f04a56;
    color: #fff;
}

.premium-color {
    background-color: #20807c;
    color: #fff;
}

sup {
    font-size: 24px;
    position: absolute;
    top: 27%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: #484848;
}

tr:nth-child(1) {
    font-size: 24px;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(9) td:nth-child(1) {
    background-color: #dddddd;
}

tr:nth-child(9) td:nth-child(2) {
    background-color: #eeeeee;
}

tr:nth-child(9) td:nth-child(3) {
    background-color: #f4f4f4;
}

tr:nth-child(9) td:nth-child(4) {
    background-color: #eeeeee;
}

th,
td {
    border: 3px solid rgba(200,200,200,.4);
    box-sizing: border-box;
}